<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServiceClient.Properties.Settings>
            <setting name="WebServiceClient_Hub3r_Calc_Calc" serializeAs="String">
                <value>http://localhost:54118/Webservice/Calc.asmx</value>
            </setting>
        </WebServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>